nav{
    background-color: black;
    text-align: right;
}
.first{
    text-align: center;
    background-color: rgb(10, 130, 158);
}
p{
    text-align: justify;
    font-size: 20px;
}
img{
    float: left;
    margin: 5px;


    
}
.fourth{
    text-align: left;
    
    
}

.third{
    background-color: white;
    
}
body{
    background-color: rgb(10, 130, 158);;
}
.fifth{
    text-align: center;
}
.name{
    color: white;
    align-items: center;
}
a.visited{
    color: blueviolet;
}
a.hover{
    color: red;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}
.span{
    color: red;
}